* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  margin: 0;
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 02-navbar */
nav {
  background-color: var(--black);
  text-align: center;
  height: 70px;
  line-height: 70px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  height: 100%;
  align-items: center;
  gap: 0;
}

nav li {
  display: inline-block;
  height: 100%;
  margin: 0;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 100%;
}

nav a:hover {
  background-color: var(--violetred);
}

/* Code for exercise 03-table */
table {
  width: 85%;
  border-collapse: separate;
  table-layout: fixed;
  margin: auto;
}

tr {
  height: 60px;
}

th,
td {
  border: 1px solid var(--black);
}

td {
  padding: 15px;
  font-weight: bold;
}

.a {
  text-align: center;
}

th {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
}

td:first-child {
  background-color: var(--violetred);
  color: var(--white);
}

tbody tr:hover {
  background-color: var(--orange);
  cursor: pointer;
}

/* Code for exercise 04-form */

h1 {
  width: 100%;
}

form {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--gray);
  border-radius: 8px;
}

form h2 {
  font-size: 1.5em;
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 0;
}

form p {
  font-size: 1em;
  color: var(--gray);
  margin-top: 0;
  margin-bottom: 0;
}

form label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textbox {
  margin-top: 20px;
  width: 200px;
}

fieldset {
  border: 1px solid var(--gray);
  border: none;
  padding: 0;
  margin-top: 20px;
}

fieldset legend {
  font-weight: bold;
}

fieldset label {
  font-weight: bold;
  font-size: 17px;
  margin-top: 0px;
}

.button-primary {
  background-color: var(--violetred);
  color: var(--white);
  padding: 10px 80px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--black);
}

.button-secondary {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 80px;
  border: 1px solid var(--gray);
  cursor: pointer;
}

.button-secondary:hover {
  background-color: lightgray;
}

/* Code for exercise 05-cards */
.card {
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 20px;
  margin: 20px auto;
  width: 400px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--black);
  font-size: 1.5em;
}

.card p {
  color: var(--gray);
}

.more-info {
  background-color: var(--black);
  color: var(--white);
  border: none;
  margin-top: 20px;
  width: 360px;
  height: 45px;
  cursor: pointer;
}

.more-info:hover {
  background-color: var(--violetred);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}
